.env
/storage/*
!/storage/app/
!/storage/framework/
!/storage/logs/
storage/logs/laravel.log
public/images
 storage/logs/laravel.log
 vendor/
/vendor
/composer.lock
/node_modules
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
.env
.env.example
/vendor/
composer.lock
storage/logs/
.env
node_modules/
public/storage
.gitignore
gitignore
.gitignore