# Ignorar dependências geradas
/vendor
/composer.lock
/node_modules

# Ignorar arquivos de log e cache do Laravel
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# Ignorar arquivos do ambiente
.env
.env.example
